### Project Objectives
+ Identify factors affecting CSAT score.
+ Build a predictive model.
+ Reccommend strategies to improve customer satisfcation in the future

__Target Variable: CSAT Score.__

In [42]:
import pandas as pd

In [43]:
# df = our customer support data
df = pd.read_csv("C:/Users/HP/OneDrive/Documents/DANNY DATA/Customer Support Data/Customer_support_data.csv")
df_copy = df.copy()

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unique id                85907 non-null  object
 1   channel_name             85907 non-null  object
 2   category                 85907 non-null  object
 3   Sub-category             85907 non-null  object
 4   Customer Remarks         28756 non-null  object
 5   Order_id                 67675 non-null  object
 6   order_date_time          17214 non-null  object
 7   Issue_reported at        85907 non-null  object
 8   issue_responded          85907 non-null  object
 9   Survey_response_Date     85907 non-null  object
 10  Customer_City            17079 non-null  object
 11  Product_category         17196 non-null  object
 12  Item_price               17206 non-null  float64
 13  connected_handling_time  242 non-null    float64
 14  Agent_name               85907 non-null  object
 15  Supervisor               85907 non-null  object
 16  Manager                  85907 non-null  object
 17  Tenure Bucket            85907 non-null  object
 18  Agent Shift              85907 non-null  object
 19  CSAT Score               85907 non-null  int64
dtypes: float64(2), int64(1), object(17)
memory usage: 13.1+ MB

In [45]:
df.head()

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5

We will only make use of columns that may be relevant to customer satisfaction score (CSAT Score). 

Choice of columns used can be adjusted depending on business needs and model performance.

This is where speaking to project managers or acquiring more data sample is necessary if possible.

In [46]:
relevant_columns = [
    'channel_name', 'category', 'Sub-category', 'Issue_reported at',
    'issue_responded', 'connected_handling_time', 'Agent_name',
    'Supervisor', 'Manager', 'Tenure Bucket', 'Agent Shift', 'CSAT Score'
]

In [47]:
df = df[relevant_columns]
df.head()

,channel_name,category,Sub-category,Issue_reported at,issue_responded,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,Outcall,Product Queries,Life Insurance,01/08/2023 11:13,01/08/2023 11:47,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,Outcall,Product Queries,Product Specific Information,01/08/2023 12:52,01/08/2023 12:54,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,Inbound,Order Related,Installation/demo,01/08/2023 20:16,01/08/2023 20:38,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,Inbound,Returns,Reverse Pickup Enquiry,01/08/2023 20:56,01/08/2023 21:16,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,Inbound,Cancellation,Not Needed,01/08/2023 10:30,01/08/2023 10:32,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   channel_name             85907 non-null  object
 1   category                 85907 non-null  object
 2   Sub-category             85907 non-null  object
 3   Issue_reported at        85907 non-null  object
 4   issue_responded          85907 non-null  object
 5   connected_handling_time  242 non-null    float64
 6   Agent_name               85907 non-null  object
 7   Supervisor               85907 non-null  object
 8   Manager                  85907 non-null  object
 9   Tenure Bucket            85907 non-null  object
 10  Agent Shift              85907 non-null  object
 11  CSAT Score               85907 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 7.9+ MB

In [49]:
print(df.isna().sum())

# Too many missing values

channel_name                   0
category                       0
Sub-category                   0
Issue_reported at              0
issue_responded                0
connected_handling_time    85665
Agent_name                     0
Supervisor                     0
Manager                        0
Tenure Bucket                  0
Agent Shift                    0
CSAT Score                     0
dtype: int64

connected_handling_time shows how long it took to resolve the issue. This column is important but has too many missing values so we will drop it.

In [50]:
df.drop(columns=["connected_handling_time"], axis=1, inplace=True)
df.isna().sum()

channel_name         0
category             0
Sub-category         0
Issue_reported at    0
issue_responded      0
Agent_name           0
Supervisor           0
Manager              0
Tenure Bucket        0
Agent Shift          0
CSAT Score           0
dtype: int64

In [51]:
df['Issue_reported at'] = pd.to_datetime(df['Issue_reported at'], errors='coerce')

df["issue_responded"] = pd.to_datetime(df["issue_responded"])



df['Issue_reported at'] = pd.to_datetime(df["Issue_reported at"].dt.strftime("%d-%m-%Y %H:%M:%S"))

df['issue_responded'] = pd.to_datetime(df["issue_responded"].dt.strftime("%d-%m-%Y %H:%M:%S"))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   channel_name       85907 non-null  object
 1   category           85907 non-null  object
 2   Sub-category       85907 non-null  object
 3   Issue_reported at  85907 non-null  datetime64[ns]
 4   issue_responded    85907 non-null  datetime64[ns]
 5   Agent_name         85907 non-null  object
 6   Supervisor         85907 non-null  object
 7   Manager            85907 non-null  object
 8   Tenure Bucket      85907 non-null  object
 9   Agent Shift        85907 non-null  object
 10  CSAT Score         85907 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 7.2+ MB

In [52]:
# show how fast customer issues where responded to in seconds, hours, and minutes
def response_times(secs, hrs, mins):
    df[secs] = (
        pd.to_datetime(df["issue_responded"]) - pd.to_datetime(df["Issue_reported at"])
    ).dt.total_seconds()

    df[hrs] = (
        pd.to_datetime(df["issue_responded"]) - pd.to_datetime(df["Issue_reported at"])
    ).dt.total_seconds() / 3600

    df[mins] = (
        pd.to_datetime(df["issue_responded"]) - pd.to_datetime(df["Issue_reported at"])
    ).dt.total_seconds() / 60


response_times("response_time (seconds)", "response_time (hours)", "response_time (minutes)")


# df.columns.get_loc("Issue_reported at")

In [53]:
# time of day an each issue was reported
df["time_of_issue"] = df["Issue_reported at"].dt.strftime("%H:%M")
df["time_of_response"] = df["issue_responded"].dt.strftime("%H:%M")

In [54]:
# what day of month issues were reported

df['report_day_name'] = df["Issue_reported at"].dt.strftime('%A')
df['report_month_day'] = df['Issue_reported at'].dt.day


# all reported issues were responded to within 24hrs
df['response_day_name'] = df['issue_responded'].dt.strftime('%A')
df['response_month_day'] = df['issue_responded'].dt.day

In [55]:
df.columns

Index(['channel_name', 'category', 'Sub-category', 'Issue_reported at',
       'issue_responded', 'Agent_name', 'Supervisor', 'Manager',
       'Tenure Bucket', 'Agent Shift', 'CSAT Score', 'response_time (seconds)',
       'response_time (hours)', 'response_time (minutes)', 'time_of_issue',
       'time_of_response', 'report_day_name', 'report_month_day',
       'response_day_name', 'response_month_day'],
      dtype='object')

In [56]:
# reposition new columns
df = df[['channel_name', 'category', 'Sub-category', 'Issue_reported at',
       'issue_responded', 'response_time (hours)', 
       'response_time (minutes)','response_time (seconds)', 'time_of_issue', "time_of_response",
       'report_day_name', 'report_month_day', 'response_month_day', 'response_day_name',
       'Agent_name', 'Supervisor', 'Manager', 'Tenure Bucket', 'Agent Shift', 'CSAT Score'
       ]]

In [57]:
df.sample(10)

,channel_name,category,Sub-category,Issue_reported at,issue_responded,response_time (hours),response_time (minutes),response_time (seconds),time_of_issue,time_of_response,report_day_name,report_month_day,response_month_day,response_day_name,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
27816,Inbound,Returns,Reverse Pickup Enquiry,2023-08-13 21:26:00,2023-08-13 21:31:00,0.083333,5.0,300.0,21:26,21:31,Sunday,13,13,Sunday,Steven Moreno,Emma Park,Jennifer Nguyen,On Job Training,Evening,5
84029,Inbound,Shopzilla Related,General Enquiry,2023-08-31 17:09:00,2023-08-31 18:23:00,1.233333,74.0,4440.0,17:09,18:23,Thursday,31,31,Thursday,Mary Huff,Mia Patel,William Kim,On Job Training,Evening,5
19559,Inbound,Returns,Reverse Pickup Enquiry,2023-08-08 12:47:00,2023-08-08 13:01:00,0.233333,14.0,840.0,12:47,13:01,Tuesday,8,8,Tuesday,Jake Castro,Noah Patel,Michael Lee,>90,Morning,1
84507,Email,Shopzilla Related,General Enquiry,2023-08-31 13:07:00,2023-08-31 13:09:00,0.033333,2.0,120.0,13:07,13:09,Thursday,31,31,Thursday,Michelle Banks,Nathan Patel,Michael Lee,>90,Night,4
6202,Inbound,Order Related,Delayed,2023-08-03 15:06:00,2023-08-03 15:07:00,0.016667,1.0,60.0,15:06,15:07,Thursday,3,3,Thursday,Tammy Lane,Noah Patel,Emily Chen,>90,Afternoon,5
58333,Inbound,Returns,Reverse Pickup Enquiry,2023-08-22 19:51:00,2023-08-22 19:52:00,0.016667,1.0,60.0,19:51,19:52,Tuesday,22,22,Tuesday,Steven Wall,Zoe Yamamoto,Emily Chen,>90,Afternoon,5
42740,Inbound,Order Related,Installation/demo,2023-08-16 16:59:00,2023-08-16 17:46:00,0.783333,47.0,2820.0,16:59,17:46,Wednesday,16,16,Wednesday,Karen Vasquez,Emily Yamashita,Michael Lee,>90,Morning,5
42643,Outcall,Returns,Return request,2023-08-16 14:22:00,2023-08-16 14:26:00,0.066667,4.0,240.0,14:22,14:26,Wednesday,16,16,Wednesday,Devon Daniel,Olivia Wang,Olivia Tan,0-30,Afternoon,5
6345,Inbound,Returns,Reverse Pickup Enquiry,2023-08-03 20:23:00,2023-08-03 20:28:00,0.083333,5.0,300.0,20:23,20:28,Thursday,3,3,Thursday,Adrian Johnson,Nathan Patel,Emily Chen,>90,Evening,5
8983,Inbound,Product Queries,Product Specific Information,2023-08-04 18:44:00,2023-08-04 20:28:00,1.733333,104.0,6240.0,18:44,20:28,Friday,4,4,Friday,Garrett Kim,Elijah Yamaguchi,John Smith,>90,Evening,1

In [58]:
df.describe()

,response_time (hours),response_time (minutes),response_time (seconds),report_month_day,response_month_day,CSAT Score
count,85907.000000,85907.000000,85907.000000,85907.000000,85907.000000,85907.000000
mean,2.281443,136.886610,8213.196596,16.399630,16.429534,4.242157
std,9.875476,592.528551,35551.713035,8.822338,8.825986,1.378903
min,-23.950000,-1437.000000,-86220.000000,1.000000,1.000000,1.000000
25%,0.033333,2.000000,120.000000,9.000000,9.000000,4.000000
50%,0.083333,5.000000,300.000000,16.000000,16.000000,5.000000
75%,0.583333,35.000000,2100.000000,24.000000,24.000000,5.000000
max,95.966667,5758.000000,345480.000000,31.000000,31.000000,5.000000

In [59]:
# clean column names

def clean_columns(val):
    return val.lower().replace(" ", "_")


df.columns = list(map(clean_columns, df.columns))

In [60]:
df.to_csv("C:/Users/HP/OneDrive/Documents/DANNY DATA/Customer Support Data/Processed_customer_support_data.csv", index=False)

### Dataframe is  ready for analysis